doctype=html
head
    title The Peanut Gallery
    link(rel='stylesheet', href='/style.css')
    script(src='https://kit.fontawesome.com/36d7ec6769.js', crossorigin='anonymous')
    block scripts
body
    include ../includes/header.pug
    block content
    include ../includes/footer.pug