section(class='form content')
    p(class='form__text') Search films
    form(action='/search', method='GET', class='form__fields')
        input(type='text', name='search', class='form__input')
        input(type='submit', class='form__btn', value='Search')